<h1> 任务发布 </h1>

<%= simple_form_for @job do |f| %>
  <%= f.input :name, :label => "公司/个人" %>
  <%= f.input :title, :label => "任务" %>
  <%= f.input :category, :label => "类型" %>
  <%= f.input :location, :label => "地区" %>
  <%= f.input :content, :label => "工作内容" %>
  <%= f.input :description, :label => "工作要求" %>
  <%= f.input :contact, :label => "联系方式" %>
  <%= f.input :wage_lower_bound, :label => "薪资下限" %>
  <%= f.input :wage_upper_bound, :label => "薪资上限" %>
  <%= f.input :contact, :label => "联系方式" %>
  <%= f.input :is_hidden, :label => "是否隐藏" %>
  <%= f.submit "Submit" %>
<% end %>
